Repository team-olulo/react-native-naver-map, pull requests merged in 2022-01, with the labels that each got.

#8 circle overlay 에서도 클릭 감지하도록 수정
  android/src/main/java/com/github/quadflask/react/navermap/RNNaverMapCircleOverlay.java
Labels: bug

#7 getMetersPerDp Method 추가
  android/src/main/java/com/github/quadflask/react/navermap/RNNaverMapJavaModule.java
  android/src/main/java/com/github/quadflask/react/navermap/RNNaverMapView.java
  android/src/main/java/com/github/quadflask/react/navermap/RNNaverMapViewContainer.java
  index.js
  index.tsx
  ios/reactNativeNMap/RNNaverMapViewManager.m
Labels: native

#9 _getMetersPerDp Optional Call
  index.js
  index.tsx
Labels: typescript

#10 RIDER-2667 Adds pattern, capType Prop of Polyline for Typescript
  index.d.ts
  ios/reactNativeNMap/RNNaverMapPolylineOverlay.h
  ios/reactNativeNMap/RNNaverMapPolylineOverlay.m
  ios/reactNativeNMap/RNNaverMapPolylineOverlayManager.m
Labels: pattern, line
